
body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 150px;
}

.container {
    display: flex;
    background-color: #fff;
    width: 70%;
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 20px #4781ec;
}

.left-section {
    background-color: #3a3434;
    color: white;
    width: 30%;
    padding: 20px;
    text-align: center;
    border-right: 5px solid #39a4e6;
}

.profile-picture img {
    width: 150px;
    height: 200px;
    margin-top: 10%;
    border-radius: 50%;
    margin-bottom: 15px;
    border:  5px solid #39a4e6;
}
.profile-picture img:hover{
    box-shadow: 0 0 50px #4781ec

}
h1, h3 {
    font-size: 24px;
    padding: 2%;
    margin: 10px 0;
    box-shadow: 0 0 15px #39a4e6;
    text-align: center;
    border-radius: 50px;
}
h2{
font-size: 20px;
padding: 2%;
margin: 20px 0 10px;
border-radius: 50px;
box-shadow: 0 0 15px #39a4e6;
margin-top: 5%;
margin-bottom: 5%;
}
ul{
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}
ul li{
    margin: 5px 0;
}

.right-section{
    padding: 20px;
    width: 60%;
}
button{
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
}

button:hover{
    background-color:  #39a4e6;
}

